/*Sets the styles for the entire content of the page*/
.main-content {
    z-index: -1;
    color: white;
    max-width: 1200px;
    width: 100%;
}

/*Styles for the header*/
#wethenorth {
    margin: auto;
    width: 50%;
    display: block;
}

/**/
.teamdesc {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.whoweare {
    text-align: center;
}

/*Toronto Raptors*/
.teamname {
    font-size: 80px;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

/*Color of the wrapper for the counter is black, all other styles are in the counter.css*/
.bwrapper {
    color: black;
}

/*Sets the boxsection margin*/
.boxsection {
    margin-top: 500px;
}

/*Makes the image in the boxes centered and look nice*/
.bsimg {
    margin: auto;
    object-fit: fill;
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.4;
    max-height: 220;
}

/*Puts text container over image and centered*/
.texttopimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Sets style for text*/
.texttopimg h2 {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-size: 100px;
}

#bs1 {
    position: relative;
    text-align: center;
    color: white;
}

#bs2 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 200px;
}

/*Media queries*/

@media screen and (max-width: 1500px) and (min-device-width: 1000px) {
    #wethenorth, .teamdesc{
        max-width: 900px;
    }

    .bwrapper, .boxsection {
        max-width: 900px;
    }

    .boxsection {
        max-width: 100%;
        margin: auto;
        display: block;
    }

    #bs1 {
        margin-top: 300px;
    }

    .count-title {
        font-size: 30px !important;
    }
}


@media screen and (max-width: 1000px) and (min-device-width: 700px){
    #wethenorth, .teamdesc{
        max-width: 600px;
    }

    .bwrapper {
        max-width: 600px;
    }

    .boxsection {
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .texttopimg h2 {
        font-size: 60px;
    }

    #bs1 {
        margin-top: 300px;
    }

    .count-title {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 700px) and (min-device-width: 500px){
    #wethenorth, .teamdesc{
        max-width: 400px;
    }

    .bwrapper {
        max-width: 400px;
    }

    .boxsection {
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .texttopimg h2 {
        font-size: 40px;
    }

    #bs1 {
        margin-top: 300px;
    }

    .count-title {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 500px) and (min-device-width: 300px){
    #wethenorth, .teamdesc{
        max-width: 300px;
    }

    .teamname {
        position: relative;
    }

    .bwrapper {
        max-width: 200px;
    }

    .boxsection {
        max-width: 100%;
        margin: auto;
        display: block;
    }

    .texttopimg h2 {
        font-size: 20px;
    }

    #bs1 {
        margin-top: 300px;
    }

    #bs2 {
        margin-top: 100px;
    }

    .count-title {
        font-size: 10px !important;
    }
}